<nav class="nav">
  <div class="nav__inner">
    <a class="nav__logo" href="/">
      <pre class="logo-cactus" role="img" aria-label="Logo cactus">  _  _
 | || | _
-| || || |
  \_  || |-
    |  _/
   -|_|-</pre>
      <span class="logo-name">{{ site.Params.author.name | default site.Title }}</span>
    </a>
    <ul class="nav__links">
      <li><a href="/#expertise">Expertise</a></li>
      <li><a href="/#projects">Projets</a></li>
      <li><a href="/#experiences">Expériences</a></li>
      <li><a href="/#formations">Formations</a></li>
      <li><a href="/#notes">Notes</a></li>
      <li><a class="nav__cta" href="/#contact">Contact</a></li>
    </ul>
  </div>
</nav>
